.row{
    color: white;
    margin-left: 20px;
    margin-right: 25px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.poster_heading{
    font-size: 1.2rem;
    font-weight: 400;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    cursor: pointer;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_poster{
    max-height: 100px;
    width: 100%;
    object-fit: contain;
    transition: transform 450ms;
    margin-right: 10px;
}

.row_poster:hover{
    transform: scale(1.08);
    opacity: 0.6;
}

.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.08);
    opacity: 0.6;
}